<!DOCTYPE html>
<html ng-app="RailsTodo" manifest="/application.manifest">
<head>
  <title>Railstodo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
           function init()
           {
             var testVal = document.getElementById('mytextId').value;
             AndroidFunction.showToast(testVal);
           }
        </script>
</head>
<body>

   <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-6 col-md-4">
          <%= yield %>
        </div>
      </div>
    </div>

</body>
</html>
